<div class="quicklink-sidebar-menu ctm-border-radius shadow-sm bg-white card grow">
    <div class="card-body">
        <ul class="list-group list-group-horizontal-lg">
            <li class="list-group-item text-center active button-5"><a href="index.html" class="text-white">Dashboard</a></li>
        </ul>
    </div>
</div>


<div class="row">
<div class="col-lg-6 col-md-12 d-flex _fghj">
        <div class="card shadow-sm flex-fill grow">
            <div class="card-header">
                <h4 class="card-title mb-0 d-inline-block">Leave</h4>
                <a href="leave.html" class="d-inline-block float-right text-primary"><i class="fa fa-suitcase"></i></a>
            </div>
            <div class="card-body text-center">
                <div class="time-list">
                    <div class="dash-stats-list">
                        <span class="btn btn-outline-primary">98.5 Days</span>
                        <p class="mb-0">Total Leave</p>
                    </div>
                    <div class="dash-stats-list">
                        <span class="btn btn-outline-primary">7.5 Days</span>
                        <p class="mb-0">Applied Leave</p>
                    </div>
                    <div class="dash-stats-list">
                            <span class="btn btn-outline-primary">7.5 Days</span>
                            <p class="mb-0">Balance Leave</p>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>