
<div class="row">
        <div class="col-md-12">
            <div class="card ctm-border-radius shadow-sm grow">
                <div class="card-header">
                    <h4 class="card-title mb-0">Apply Leaves</h4>
                </div>
                <div class="card-body">
                    <form>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>
                                    Leave Type
                                    <span class="text-danger">*</span>
                                    </label>
                                    <select class="form-control select select2-hidden-accessible" tabindex="-1" aria-hidden="true">
                                        <option>Select Leave</option>
                                        <option>Casual Leave</option>
                                        <option>EBL Leave</option>
                                        <option>Others leave</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6 leave-col">
                                <div class="form-group">
                                    <label>Remaining Leaves</label>
                                    <input type="text" class="form-control" placeholder="10" disabled="">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>From</label>
                                    <input type="text" class="form-control datetimepicker">
                                </div>
                            </div>
                            <div class="col-sm-6 leave-col">
                                <div class="form-group">
                                    <label>To</label>
                                    <input type="text" class="form-control datetimepicker">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 leave-col">
                                <div class="form-group">
                                    <label>Number of Days Leave</label>
                                    <input type="text" class="form-control" placeholder="2" disabled="">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group mb-0">
                                    <label>Reason</label>
                                    <textarea class="form-control" rows="4"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="text-center">
                            <button class="btn btn-primary">Apply</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>